@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$primary-color: #009e6c;
$error-color: #e70f0f;
$border-color: #eee;

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form {
  border: 1px solid $border-color;
  padding: 40px;

  &__group {
    margin-bottom: 20px;

    label,
    p {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }

    &_radio,
    &_checkbox {
      label {
        display: inline-flex;
        align-items: center;
        margin-right: 15px;

        span {
          margin-left: 5px;
        }
      }
    }

    input[type="text"],
    input[type="password"],
    input[type="file"],
    textarea,
    select {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 1px solid $border-color;
      outline: 0;
      transition: box-shadow 0.3s ease;

      &:focus {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      &.error {
        border-color: $error-color;
      }
    }
  }

  &__error {
    color: $error-color;
    font-size: 12px;
    padding: 5px 0;
    display: block;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
}
