.notification_root {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.notification {
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 300ms;
}
